[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jinja2 = "*"

[dev-packages]
pipenv = "*"
pyflakes = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.9"
